$default: #FCFCF0;
$title: #2D2A26;

%title-font{
    font-family: Avenir bold, sans-serif;
    font-weight: 700;
}

%btn{
    background-color: transparent;
    border: 1px solid #2d2a26;
    border-radius: 10px;
    box-shadow: 4px 5px 0px #2d2a26;
    font-family: "Avenir regular";
    font-weight: 600;
    color: #2d2a26;
    cursor: pointer;
}

